.container-top{
    background-color:#F2F3F4;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: #979A9A;
    justify-content:center;
    align-items:flex-start;
}

.container-bottom{
    background-color: #F2F3F4;
    min-height: 100vh;
    display: flex;
    font-size: calc(10px + 2vmin);
    color: #979A9A;
    justify-content:center;
    align-items:center;
}








