.container {
  display: flex;
  flex-direction: column;
}
.title {
  margin-left: 50px;
}
.input {
  background: #979A9A;
  width: 350px;
  margin: 5px;
  height: 30px;
  font-weight: 500;
  color: #fff;
  padding-left: 20px;
  border: 1px solid #979A9A;
}
.input:focus{
 
  box-shadow: 0px 0px 3px 0px #B9D0D5 inset;
  outline: none;
}
.button {
  margin-left: 5px;
  background: #34B1CD;
  width: 90px;
  border: 1px solid #34B1CD;
  height: 33px;
  color: aliceblue;
  font-weight: bold;
}
.button:hover{
  background: #41BAD5;
  border: 1px solid #41BAD5;
}

.button-close:hover{
  background: #A1AAAC;
  border: 1px solid #A1AAAC;
}

.button-close {
  padding: 0 5px;
  margin-left: 5px;
  background: #979A9A;
  width: 90px;
  border: 1px solid #979A9A;
  height: 33px;
  color: aliceblue;
  font-weight: bold;
}

.row {
  margin-top: 20px;
}
.row-none {
  margin-top: 0px;
}
